/* Review CSS */

.display-4{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.lead{
    font-family: 'Julius Sans One', sans-serif;
}

.site{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.btn{
    width: 7em;
}

.task{
    font-family: 'Exo 2', sans-serif;
}

.footer{
    display: flex;
    background: rgb(84, 86, 105);
    height: 104px;
    align-items: flex-end;
    flex: 1;
}

.wrapper{    
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-weight: 100;
}

.about{
    color : hsla(163, 11%, 55%, 1);
    font-family : 'Quicksand', sans-serif;
}